[submodule "jedi/abdedra"]
	path = jedi/abdedra
	url = https://github.com/abedra/emacs.d.git
[submodule "jedi/dimitri"]
	path = jedi/dimitri
	url = https://github.com/dimitri/emacs-kicker.git
[submodule "jedi/magnars"]
	path = jedi/magnars
	url = https://github.com/magnars/.emacs.d.git
[submodule "jedi/technomancy"]
	path = jedi/technomancy/emacs-starter-kit
	url = https://github.com/technomancy/emacs-starter-kit.git
[submodule "jedi/overtone"]
	path = jedi/overtone
	url = https://github.com/overtone/emacs-live.git
[submodule "jedi/bbatsov"]
	path = jedi/bbatsov
	url = https://github.com/bbatsov/prelude
[submodule "jedi/technomancy/better-defaults"]
	path = jedi/technomancy/better-defaults
	url = https://github.com/technomancy/better-defaults.git
[submodule "lib/auto-compile"]
	path = lib/auto-compile
	url = https://github.com/tarsius/auto-compile.git
[submodule "lib/cl-lib"]
	path = lib/cl-lib
	url = https://github.com/emacsmirror/cl-lib.git
[submodule "lib/packed"]
	path = lib/packed
	url = https://github.com/tarsius/packed.git
[submodule "lib/elisp-slime-nav"]
	path = lib/elisp-slime-nav
	url = https://github.com/purcell/elisp-slime-nav
[submodule "jedi/flyingmachine"]
	path = jedi/flyingmachine
	url = https://github.com/flyingmachine/emacs.d
