[submodule "jedi/abdedra"]
	path = jedi/abdedra
	url = https://github.com/abedra/emacs.d.git
[submodule "jedi/dimitri"]
	path = jedi/dimitri
	url = https://github.com/dimitri/emacs-kicker.git
[submodule "jedi/magnars"]
	path = jedi/magnars
	url = https://github.com/magnars/.emacs.d.git
[submodule "jedi/overtone"]
	path = jedi/overtone
	url = https://github.com/overtone/emacs-live.git
[submodule "jedi/bbatsov"]
	path = jedi/bbatsov
	url = https://github.com/bbatsov/prelude
[submodule "jedi/technomancy/better-defaults"]
	path = jedi/technomancy/better-defaults
	url = https://github.com/technomancy/better-defaults.git
[submodule "jedi/flyingmachine"]
	path = jedi/flyingmachine
	url = https://github.com/flyingmachine/emacs.d
[submodule "align-cljlet"]
	path = lib/align-cljlet/
	url = https://github.com/gstamp/align-cljlet.git
[submodule "SOLARIZED-emacs"]
	path = lib/solarized-emacs/
	url = https://github.com/bbatsov/solarized-emacs.git
[submodule "jedi/dgutov"]
	path = jedi/dgutov
	url = https://github.com/dgutov/dot-emacs.git
[submodule "lib/ace-jump-mode"]
	path = lib/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "jedi/lunaryorn"]
	path = jedi/lunaryorn
	url = https://github.com/lunaryorn/.emacs.d.git
[submodule "jedi/rejeep"]
	path = jedi/rejeep
	url = https://github.com/rejeep/emacs.git
[submodule "jedi/jwiegley"]
	path = jedi/jwiegley
	url = https://github.com/jwiegley/dot-emacs.git
